@media only screen and (max-width: 767px) {
    /* change to min */

    body {
        margin: 0;
    }


    .logo {
        grid-area: logo;

        img {
            &.white {
                display: none;
            }

            &.yellow {
                display: inline;
                max-width: 100vw;
            }
        }
    }


    .picture-louise picture {
        overflow: hidden;

        &.yellow {
            max-width: 100vw;
        }
    }


    footer {
        grid-area: footer;
    }


    .frontend-written img {

        &.frontend-white {
            max-width: 100vw;
            display: none;
        }

        &.frontend-yellow {
            display: inline;
        }
    }

}