@media only screen and (max-width: 500px) {



    .info-text {
        margin-left: 0;

        & .content p {
            letter-spacing: 0.06em;
            line-height: 1.7em;
            font-size: 1em;
        }

        button.extension-text {
            font-weight: 500;
            font-size: 18px;
        }
    }

    .flex {
        .slideshow-container {
            .next {
                right: -10%;
            }

            .prev {
                left: -10%;

            }
        }
    }

    footer {
        height: 45px;
    }
}

.next {
    right: -20%;
}

.prev {
    left: -20%;
}