@media only screen and (min-width: 768px) and (max-width: 1150px) {

    .picture-louise {
        img {
            top: 75px;
        }
    }


    .info-text {
        margin-top: 30px;

        button.extension-text {
            font-size: 1.3em;


            &:nth-child(n+2) {
                margin-top: 30px;

            }
        }
    }


    .flex {
        margin-top: 0px;
    }
}