@media only screen and (max-width: 767px) {
    /* change to min */


    body {
        margin: 0;
    }


    .logo {
        order: 1;

        img {
            &.white {
                width: 60%;
                z-index: 1;
                height: auto;
                position: absolute;
                top: 0;
                margin: 5px 0px 0px 10px;
            }

        }
    }


    .picture-louise {

        img {
            display: flex;
            order: 2;
            z-index: -1;
            height: fit-content;
            width: 100vw;
            margin-top: 10%;
            border-bottom: 2px solid $text-color;
            border-radius: 0.7%;
        }

        // picture {

        //     & .picture-img {
        //         border-bottom: 2px solid $text-color;
        //         border-radius: 0.7%;
        //     }

        //     & .mobile-pic {
        //         width: 100vw;
        //     }

        //     & .white {
        //         display: none;
        //     }

        //     img {
        //         width: 100vw;
        //     }
        // }
    }



    .frontend-written {
        order: 3;

        img.frontend-white {
            width: 80vw;
            padding: 5% 0% 0% 5%;
        }
    }


    .info-text {
        order: 5;

        button.extension-text {
            font-weight: 500;
            font-size: 21px;
            padding-left: 0%;
            padding-bottom: 2%;
            display: block;
            height: auto;
        }

        button.extension-text:hover {
            background-image: url("/img/line-w152.png");
            background-position: left bottom;
            height: auto;
            background-repeat: no-repeat;
        }

        button.extension-text.active {
            background-image: url("/img/line-w152.png");
            background-position: left bottom;
            height: auto;
            background-repeat: no-repeat;

            & :after {
                content: "\2796";
                font-size: 12px;
                float: right;
            }
        }


        & .content {
            margin-left: 20px;
            width: 90vw;

            p {
                letter-spacing: 0.08em;
                line-height: 1.7em;
                font-size: 1.1em;
            }
        }
    }

    .flex {
        order: 6;
    }

}