@media only screen and (max-width: 767px) {
    /* change to min */


    body {
        margin: 0;
    }


    .wrapper {
        max-width: 100vw;
        display: flex;
        flex-direction: column;
    }


    .logo {
        order: 1;

        img {
            &.white {
                width: 60%;
                z-index: 1;
                position: absolute;
                top: 0;
                margin: 3px 0px 0px 10px;
            }

        }
    }


    .picture-louise {

        img {
            position: static;
            display: flex;
            order: 2;
            z-index: -1;
            width: 100vw;
            margin-top: 10%;
            border-bottom: 2px solid $text-color;
            border-radius: 0.7%;
            border-left: 0;
        }
    }



    .frontend-written {
        order: 3;
        margin-left: 15px;
        position: static;
        max-width: 90vw;

        img.frontend-white {
            width: 85vw;
            padding: 40px 0% 0% 5%;
            float: none;
            margin-bottom: 20px;
        }
    }


    .info-text {
        order: 5;
        width: fit-content;
        margin: 45px 0 0 0;
        align-self: center;

        button.extension-text {
            font-weight: 300;
            font-size: 18px;
            padding-left: 0%;
            padding-bottom: 2%;
            display: block;
            height: auto;
            width: 75vw;
            margin-right: 20px;
            margin-left: 20px;

            &:first-child {
                margin-top: 10px;
            }

            &:nth-child(n+2) {
                margin-top: 40px;
            }

            &:last-child {
                margin-bottom: 10%;
            }
        }


        & .content {
            width: 85vw;

            p {
                letter-spacing: 0.08em;
                line-height: 1.7em;
                font-size: 1.1em;
            }
        }
    }


    .flex {
        order: 6;
        margin-top: 0px;

        .portfolio-written {
            width: 40%;
            top: 110px;
            margin-left: 5px;
        }
    }


    footer {
        height: 7vh;

        img {
            width: 35px;
            height: 35px;
            margin-right: 15px;
            margin-top: 4px;
        }
    }
}