$font-pontano: 'Pontano Sans', sans-serif;
$text-color: white;
$background-color: #111111;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700;800&family=Pontano+Sans&family=Poppins:wght@300;400&display=swap');


body {
    box-sizing: border-box;
    font-family: $font-pontano;
    color: $text-color;
    background-color: $background-color;
    margin: 0;
}


.grid {
    display: grid;
    grid-template-areas:
        "logo logo"
        "main main"
        "frontendwritten main"
        "footer footer";
    grid-template-columns: 45vw 55vw;
    grid-template-rows: 20vh 80vh 80vh 20vh;
    max-width: 1200px;
}


.logo {
    grid-area: logo;

    h1 {
        visibility: hidden;
        font-size: 0.01px;
    }

    img {

        padding: 15px 0px 0px 0px;

        &.white {
            display: inline;
        }

        &.yellow {
            display: none;
            max-width: 100vw;
        }
    }
}


.picture-louise {

    &.picture {
        max-width: 100vw;

        &.yellow {
            display: none;
            width: 100vw;
        }

        &.white {
            display: inline;
            width: 50vw;
        }
    }

    & .img {
        max-width: 100vw;
        max-height: 80vh;
    }
}


.info-text {
    grid-area: infotext;

    .extension-text {
        background-color: $background-color;
        color: $text-color;
        cursor: pointer;
        width: 320px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 1.1em;
        padding: 5px 0px 5px 5px;
        margin-bottom: 10px;

        &:nth-child(n+2) {
            margin-top: 50px;
        }
    }
}


.active,
.extension-text:hover {
    background-color: rgb(105, 36, 36);
}


.content {
    width: 320px;
    background-color: rgb(240, 182, 182);
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0px 0px 0px 0px;

    p {
        font-size: 1em;
        margin: 10px 0px 10px 7px;
    }
}


.flex {
    display: flex;
}


.content {
    p {
        width: 310px;
    }
}


h2 {
    visibility: hidden;
    font-size: 0.01px;
}


.frontend-written {
    grid-area: frontendwritten;

    img {
        &.frontend-white {
            max-width: 100vw;
            display: inline;
        }

        &.frontend-yellow {
            display: none;
            max-width: 100vw;
        }
    }
}


footer {
    width: 100vw;
    height: 100px;
    background-color: rgb(255, 127, 189);
}



@import 'mobileless767';