@import'characteristics';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700;800&family=Pontano+Sans&family=Poppins:wght@300;400&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: $font-pontano;
    color: $text-color;
    background-color: $background-color;
    margin: 0;
    max-width: 100vw;
}

.wrapper {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 100vw;
}


.logo {
    max-width: 40vw;

    h1 {
        visibility: hidden;
        font-size: 0.01px;
    }

    img {
        width: 100%;
        padding: 24px 0px 0px 25px;

        &.white {
            display: inline;
        }
    }
}


.picture-louise {

    img {
        position: absolute;
        top: 35px;
        right: 0;
        width: 50vw;
        border-left: 4px solid #cad5e5c5;
        border-bottom: 4px solid #cad5e5c5;
        border-radius: 0% 0% 0% 0.5%;
        z-index: -1;
    }
}


.info-text {
    order: 1;
    background-color: #212121;
    border-radius: 1%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 45vw;
    margin: 5% 3% 10% 2%;

    .extension-text {
        background-color: transparent;
        color: #cad5e5c6;
        cursor: pointer;
        width: 40vw;
        border: none;
        text-align: left;
        outline: none;
        font-size: 1.3em;
        margin: 0px 0px 10px 20px;
        padding: 5px 0px 5px 5px;

        &:first-child {
            margin-top: 10px;
        }

        &:nth-child(n+2) {
            margin-top: 70px;
        }

        &:last-child {
            margin-bottom: 30%;
        }

        &:after {
            content: '\02795';
            font-size: 12px;
            float: right;
        }

        &.active:after {
            content: "\2796";
            font-size: 12px;
            float: right;
        }
    }


    button.extension-text:hover {
        background-image: url("/img/line-w152.png");
        background-position: left bottom;
        height: auto;
        background-repeat: no-repeat;
    }

    button.extension-text.active {
        background-image: url("/img/line-w152.png");
        background-position: left bottom;
        height: auto;
        background-repeat: no-repeat;

        & :after {
            content: "\2796";
            font-size: 12px;
            float: right;
        }
    }

    .content {
        background-color: rgb(36, 36, 36, 0.4);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        margin-left: 20px;
        width: 40vw;

        form {
            border: 2px $text-color solid;
            border-radius: 1%;
            margin-top: 10px;
            padding: 10px 10px 10px 25px;

            ul {
                list-style: none;
                padding-left: 0;

                li {
                    margin-top: 10px;

                    textarea {
                        height: 80px;
                    }

                    input,
                    textarea {
                        width: 300px;
                    }
                }
            }
        }

        p {
            letter-spacing: 0.06em;
            line-height: 1.6em;
            font-size: 1.1em;
            margin: 10px 7px 10px 10px;

            a {
                color: white;
                font-size: 1.1em;
                text-decoration: line;
                text-decoration-line: 0.1px;

                &:visited {
                    color: rgb(106, 105, 105);
                }
            }
        }
    }
}



h2 {
    visibility: hidden;
    font-size: 0.01px;
}


.frontend-written {
    order: 2;
    width: 100vw;
    position: absolute;
    top: calc(115vw / 2);

    img.frontend-white {
        width: 50vw;
        float: right;
        margin-right: 10px;
    }

}

.flex {
    order: 3;
    margin-bottom: 20px;
    margin-top: 10px;

    .portfolio-written {
        width: 20%;
        position: relative;
        top: 110px;
        z-index: 1;
        margin-left: 5px;
    }

    .frame {
        margin: 0% 5% 2.5% 5%;
        background-color: #212121;
        border-bottom: $text-color 2px solid;
        overflow: hidden;
        border-radius: 1%;



        .slideshow-container {
            width: 80vw;
            height: auto;
            position: relative;
            margin: auto;


            img {
                object-fit: scale-down;
                height: 75vh;
                padding-top: 5%;
            }


            .text {
                color: #f2f2f2;
                font-size: 13px;
                font-family: $font-pontano;
                padding-bottom: 7px;
                margin-right: 0;
                text-align: center;
            }


            .slide-portfolio {
                display: none;
            }


            .prev,
            .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                margin-top: -22px;
                padding: 20px;
                color: rgba(255, 255, 255, 0.650);
                font-size: 20px;
                transition: 0.5s ease;
                user-select: none;
            }


            .next:hover {
                transition: 0.3s ease-in-out;
                color: white;
            }


            .prev:hover {
                transition: 0.3s ease-in-out;
                color: white;
            }


            .next {
                right: -7%;
            }

            .prev {
                left: -7%;
            }
        }

    }

    .dot {
        cursor: pointer;
        height: 7px;
        width: 7px;
        margin: 2px 2px 5px 2px;
        background-color: rgb(106, 105, 105);
        border-radius: 25%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: $text-color;
        transition: 0.5s ease-out;
    }
}


footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url("/img/vojtech-bruzek-zMl9PjGFPWg-unsplash-1.png");
    width: 100vw;
    height: 70px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    position: sticky;
    bottom: 0;
    z-index: 2;

    img {
        width: 52px;
        height: 52px;
        background-color: rgba(6, 3, 3, 0.708);
        border-radius: 50%;
        border: 1px white solid;
        margin-right: 30px;
        margin-top: 4px;
    }
}






@import 'mobileless767';
@import 'mobileless500';
@import 'mobileless1050';