$font-pontano: 'Pontano Sans', sans-serif;
$text-color: #CAD5E5;
$background-color: #111111;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700;800&family=Pontano+Sans&family=Poppins:wght@300;400&display=swap');


body {
    box-sizing: border-box;
    font-family: $font-pontano;
    color: $text-color;
    background-color: $background-color;
    margin: 0;
    max-width: 100vw;
}

.wrapper {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 100vw;
}


.logo {
    max-width: 100vw;

    h1 {
        visibility: hidden;
        font-size: 0.01px;
    }

    img {

        padding: 15px 0px 0px 0px;

        &.white {
            display: inline;
        }

        &.yellow {
            display: none;
        }
    }
}


.picture-louise {
    max-width: 100vw;

    picture {
        max-width: 100vw;

        & .yellow {
            display: none;
        }

        & .white {
            display: inline;
            width: 50vw;
        }

        & img {
            width: 100vw;
        }
    }
}


.info-text {
    max-width: 100vw;
    margin: 0% 3% 10% 2%;

    .extension-text {
        background-color: $background-color;
        color: $text-color;
        cursor: pointer;
        width: 80vw;
        border: none;
        text-align: left;
        outline: none;
        font-size: 1.1em;
        margin: 0px 0px 10px 20px;
        padding: 5px 0px 5px 5px;

        &:first-child {
            margin-top: 60px;
        }

        &:nth-child(n+2) {
            margin-top: 50px;
        }

        &:last-child {
            margin-bottom: 30%;
        }

        &:after {
            content: '\02795';
            font-size: 12px;
            float: right;
        }

        &.active:after {
            content: "\2796";
            font-size: 12px;
            float: right;
        }
    }


    .content {
        background-color: rgb(36, 36, 36, 0.4);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;

        p {
            letter-spacing: 0.06em;
            line-height: 1.5em;
            font-size: 1em;
            margin: 10px 7px 10px 7px;

        }
    }
}



h2 {
    visibility: hidden;
    font-size: 0.01px;
}


.frontend-written {

    img {
        &.frontend-white {
            max-width: 100vw;
            display: inline;
        }
    }
}


.flex {
    margin-bottom: 20px;

    .portfolio-written {
        width: 40%;
        position: relative;
        top: 85px;
        z-index: 1;
    }

    .frame {
        margin: 0% 5% 2.5% 5%;
        background-color: #212121;
        border-bottom: $text-color 2px solid;
        overflow: hidden;
        border-radius: 1%;
    }

    .slideshow-container {
        width: 80vw;
        height: auto;
        position: relative;
        margin: auto;


        img {
            object-fit: scale-down;
            height: 75vh;
            padding-top: 5%;
        }


        .text {
            color: #f2f2f2;
            font-size: 13px;
            font-family: $font-pontano;
            padding-bottom: 7px;
            margin-right: 0;
            text-align: center;
        }


        .slide-portfolio {
            display: none;
        }


        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            margin-top: -22px;
            padding: 20px;
            color: $text-color;
            font-size: 20px;
            transition: 0.5s ease;
            user-select: none;
        }

        .next {
            right: -7%;
        }

        .prev {
            left: -7%;
        }

    }

    .dot {
        cursor: pointer;
        height: 7px;
        width: 7px;
        margin: 2px 2px 5px 2px;
        background-color: rgb(106, 105, 105);
        border-radius: 25%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active,
    .dot:hover {
        background-color: #717171;
    }
}


footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url("/img/vojtech-bruzek-zMl9PjGFPWg-unsplash-1.png");
    width: 100vw;
    height: 7vh;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    position: sticky;
    bottom: 0;
    z-index: 2;

    img {
        width: 30px;
        height: 30px;
        background-color: rgba(6, 3, 3, 0.708);
        border-radius: 50%;
        border: 1px white solid;
        margin-right: 10px;
        margin-top: 4px;
    }
}




@import 'mobileless767';
@import 'mobileless500';